In [141]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [142]:
import os, zipfile

<span style="color:red">ONLY FOLLOW NEXT STEPS IF DATA IS NOT AVAILABLE AND NEEDS TO BE DOWNLOADED</span>

Download data (the .zip files) from [here](https://stackoverflow.com/questions/31346790/unzip-all-zipped-files-in-a-folder-to-that-same-folder-using-python-2-7-5) and place it in the folder 

> /data/bike/

In [3]:
# extract all data from zip files if it is not yet been extracted

for f in os.listdir('.'):
    if f.endswith('.zip'): # check for ".zip" extension
        zip_ref = zipfile.ZipFile(f) # create zipfile object
        zip_ref.extractall('.') # extract file to dir
        zip_ref.close() # close file

In [7]:
#read in all available .csv files

#This code is taken from https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
lbikesPath = 'data/bike/'
allFiles = os.listdir(lbikesPath)
dfs = []
for f in allFiles:
    print(f)
    if f.endswith('.csv'):
        df = pd.read_csv(lbikesPath + f,index_col=None, header=0);
        dfs.append(df)

Wall time: 7.11 s

In [8]:
#conncat all the dfs in one and store it
frame = pd.concat(dfs, axis = 0, ignore_index = True)
frame.to_csv('data/allData.csv');

<span style="color:red">FROM HERE IF (allData.csv exists already) YOU HAVE ALREADY THE DATA DOWNLOADED AND EXECUTED THE STEPS ABOVE ONCE.</span>

In [193]:
%%time
rides_all = pd.read_csv('data/allData.csv', index_col=False);
rides=rides_all

Wall time: 8.19 s

## Data Assessing

In [194]:
%%time
print(rides.shape)
rides.info()

(1533136, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533136 entries, 0 to 1533135
Data columns (total 17 columns):
Unnamed: 0                 1533136 non-null int64
duration_sec               1533136 non-null int64
start_time                 1533136 non-null object
end_time                   1533136 non-null object
start_station_id           1524741 non-null float64
start_station_name         1524741 non-null object
start_station_latitude     1533136 non-null float64
start_station_longitude    1533136 non-null float64
end_station_id             1524741 non-null float64
end_station_name           1524741 non-null object
end_station_latitude       1533136 non-null float64
end_station_longitude      1533136 non-null float64
bike_id                    1533136 non-null int64
user_type                  1533136 non-null object
member_birth_year          1439858 non-null float64
member_gender              1440170 non-null object
bike_share_for_all_trip    1533136 non-null object
dtypes: float64(7), int64(3), object(7)
memory usage: 198.8+ MB
Wall time: 1.02 s

In [195]:
rides.head()

,Unnamed: 0,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [206]:
# Outlier analysis
rides.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year,user_age
count,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06,1.430683e+06
mean,7.697710e+02,1.194606e+02,3.776833e+01,-1.223510e+02,1.179670e+02,3.776842e+01,-1.223504e+02,2.223617e+03,1.982950e+03,3.504964e+01
std,1.955046e+03,9.943302e+01,1.020997e-01,1.199596e-01,9.945380e+01,1.019484e-01,1.193547e-01,1.223857e+03,1.023767e+01,1.023767e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.100000e+01,1.920000e+03,1.800000e+01
25%,3.450000e+02,3.500000e+01,3.777106e+01,-1.224116e+02,3.000000e+01,3.777106e+01,-1.224094e+02,1.196000e+03,1.978000e+03,2.800000e+01
50%,5.420000e+02,8.900000e+01,3.778107e+01,-1.223971e+02,8.800000e+01,3.778127e+01,-1.223959e+02,2.282000e+03,1.985000e+03,3.300000e+01
75%,8.370000e+02,1.830000e+02,3.779625e+01,-1.222876e+02,1.830000e+02,3.779728e+01,-1.222894e+02,3.247000e+03,1.990000e+03,4.000000e+01
max,8.628100e+04,3.810000e+02,3.788022e+01,-1.218333e+02,3.810000e+02,3.788022e+01,-1.218333e+02,4.466000e+03,2.000000e+03,9.800000e+01

In [209]:
rides.duplicated().any()

False

## Data Cleaning 

### Define
- remove na
- remove Unnamed col
- change times to datetime format
- change station id to string without .0
- make user type ordinal
- make birth year to int
- create col age
- make gender nominal
- delete age > 100

### Code

In [196]:
#remove nas
rides.dropna(inplace=True)

In [197]:
# remove Unnamed col
rides = rides.drop(['Unnamed: 0'], axis=1)

In [198]:
# change times to datetime format
rides.start_time = pd.to_datetime(rides.start_time)
rides.end_time = pd.to_datetime(rides.end_time)

In [199]:
# change station id to string without .0
rides.start_station_id = rides.start_station_id.fillna(0).astype('int')
rides.end_station_id = rides.end_station_id.fillna(0).astype('int')

In [200]:
# make col age
rides['user_age'] = rides.end_time.dt.year - rides.member_birth_year
rides.user_age = rides.user_age.fillna(0).astype('int')

In [201]:
# make user type ordinal
#customer = casual / subscriber = member

ordinal_var_dict = {'user_type': ['Customer','Subscriber']}
for var in ordinal_var_dict:
    rides[var] = rides[var].astype('category', ordered = True,categories = ordinal_var_dict[var])

In [202]:
# make user gender and bike_share_for_all_trip nominal
rides['member_gender'] = rides['member_gender'].astype('category')
rides['bike_share_for_all_trip'] = rides['bike_share_for_all_trip'].astype('category')

In [203]:
# delete age > 100
rides = rides[rides.user_age <= 100]

### Test

In [210]:
rides.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,user_age
0,75284,2018-01-31 22:52:35.239,2018-02-01 19:47:19.824,120,Mission Dolores Park,37.761420,-122.426435,285,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No,32
2,71576,2018-01-31 14:23:55.889,2018-02-01 10:16:52.116,304,Jackson St at 5th St,37.348759,-121.894798,296,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No,22
4,39966,2018-01-31 19:52:24.667,2018-02-01 06:58:31.053,74,Laguna St at Hayes St,37.776435,-122.426244,19,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No,27
6,453,2018-01-31 23:53:53.632,2018-02-01 00:01:26.805,110,17th & Folsom Street Park (17th St at Folsom St),37.763708,-122.415204,134,Valencia St at 24th St,37.752428,-122.420628,3571,Subscriber,1988.0,Male,No,30
7,180,2018-01-31 23:52:09.903,2018-01-31 23:55:10.807,81,Berry St at 4th St,37.775880,-122.393170,93,4th St at Mission Bay Blvd S,37.770407,-122.391198,1403,Subscriber,1980.0,Male,No,38

### Store Data

In [211]:
rides.to_csv('data/rides.csv', index=False)