In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
import os, zipfile

<span style="color:red">ONLY FOLLOW NEXT STEPS IF DATA IS NOT AVAILABLE AND NEEDS TO BE DOWNLOADED</span>

Download data (the .zip files) from [here](https://stackoverflow.com/questions/31346790/unzip-all-zipped-files-in-a-folder-to-that-same-folder-using-python-2-7-5) and place it in the folder 

> /data/bike/

In [3]:
# extract all data from zip files if it is not yet been extracted

for f in os.listdir('.'):
    if f.endswith('.zip'): # check for ".zip" extension
        zip_ref = zipfile.ZipFile(f) # create zipfile object
        zip_ref.extractall('.') # extract file to dir
        zip_ref.close() # close file

In [4]:
#read in all available .csv files

#This code is taken from https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
lbikesPath = 'data/bike/'
allFiles = os.listdir(lbikesPath)
dfs = []
for f in allFiles:
    print(f)
    if f.endswith('.csv'):
        df = pd.read_csv(lbikesPath + f,index_col=None, header=0);
        dfs.append(df)

201801-fordgobike-tripdata.csv
201802-fordgobike-tripdata.csv
201803-fordgobike-tripdata.csv
201804-fordgobike-tripdata.csv
201805-fordgobike-tripdata.csv
201806-fordgobike-tripdata.csv
201807-fordgobike-tripdata.csv
201808-fordgobike-tripdata.csv
201809-fordgobike-tripdata.csv
201810-fordgobike-tripdata.csv
201811-fordgobike-tripdata.csv
201812-fordgobike-tripdata.csv

In [5]:
#conncat all the dfs in one and store it
frame = pd.concat(dfs, axis = 0, ignore_index = True)
frame.to_csv('data/allData.csv', index = False);

<span style="color:red">FROM HERE IF (allData.csv exists already) YOU HAVE ALREADY THE DATA DOWNLOADED AND EXECUTED THE STEPS ABOVE ONCE.</span>

In [5]:
%%time
rides_all = pd.read_csv('data/allData.csv', index_col=False);
rides=rides_all

Wall time: 9.62 s

## Data Assessing

In [43]:
help(rides.info)

Help on method info in module pandas.core.frame:

info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None) method of pandas.core.frame.DataFrame instance
    Concise summary of a DataFrame.

    Parameters
    ----------
    verbose : {None, True, False}, optional
        Whether to print the full summary.
        None follows the `display.max_info_columns` setting.
        True or False overrides the `display.max_info_columns` setting.
    buf : writable buffer, defaults to sys.stdout
    max_cols : int, default None
        Determines whether full summary or short summary is printed.
        None follows the `display.max_info_columns` setting.
    memory_usage : boolean/string, default None
        Specifies whether total memory usage of the DataFrame
        elements (including index) should be displayed. None follows
        the `display.memory_usage` setting. True or False overrides
        the `display.memory_usage` setting. A value of 'deep' is equivalent
        of True, with deep introspection. Memory usage is shown in
        human-readable units (base-2 representation).
    null_counts : boolean, default None
        Whether to show the non-null counts

        - If None, then only show if the frame is smaller than
          max_info_rows and max_info_columns.
        - If True, always show counts.
        - If False, never show counts.

In [45]:
%%time
rides[0:1663721].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1663721 entries, 0 to 1663720
Data columns (total 16 columns):
duration_sec               1663721 non-null int64
start_time                 1663721 non-null object
end_time                   1663721 non-null object
start_station_id           1652432 non-null float64
start_station_name         1652432 non-null object
start_station_latitude     1663721 non-null float64
start_station_longitude    1663721 non-null float64
end_station_id             1652432 non-null float64
end_station_name           1652432 non-null object
end_station_latitude       1663721 non-null float64
end_station_longitude      1663721 non-null float64
bike_id                    1663721 non-null int64
user_type                  1663721 non-null object
member_birth_year          1561000 non-null float64
member_gender              1561351 non-null object
bike_share_for_all_trip    1663721 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 203.1+ MB
Wall time: 1.04 s

In [8]:
rides.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [9]:
# Outlier analysis
rides.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.863721e+06,1.753003e+06
mean,8.573026e+02,1.196744e+02,3.776678e+01,-1.223492e+02,1.181730e+02,3.776690e+01,-1.223487e+02,2.296851e+03,1.983088e+03
std,2.370379e+03,1.003976e+02,1.057689e-01,1.654634e-01,1.004403e+02,1.056483e-01,1.650597e-01,1.287733e+03,1.044289e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.100000e+01,1.881000e+03
25%,3.500000e+02,3.300000e+01,3.777106e+01,-1.224114e+02,3.000000e+01,3.777106e+01,-1.224094e+02,1.225000e+03,1.978000e+03
50%,5.560000e+02,8.900000e+01,3.778107e+01,-1.223974e+02,8.800000e+01,3.778127e+01,-1.223971e+02,2.338000e+03,1.985000e+03
75%,8.720000e+02,1.860000e+02,3.779625e+01,-1.222865e+02,1.830000e+02,3.779728e+01,-1.222894e+02,3.333000e+03,1.991000e+03
max,8.636600e+04,3.810000e+02,4.551000e+01,-7.357000e+01,3.810000e+02,4.551000e+01,-7.357000e+01,6.234000e+03,2.000000e+03

In [10]:
rides.duplicated().any()

False

## Data Cleaning 

### Define
- remove na
- remove Unnamed col
- change times to datetime format
- change station id to string without .0
- make user type ordinal
- make birth year to int
- create col age
- make gender nominal
- make station id to categorical
- delete age > 100
- add time of the day/ weekday/ month as separate column
- add path label (from - to)

### Code

In [6]:
#remove nas
rides.dropna(inplace=True)

In [26]:
# remove Unnamed col
#rides = rides.drop(['Unnamed: 0'], axis=1)

In [7]:
# change times to datetime format
rides.start_time = pd.to_datetime(rides.start_time)
rides.end_time = pd.to_datetime(rides.end_time)

In [8]:
# change station id to string without .0
rides.start_station_id=rides.start_station_id.map(lambda x: '{:.0f}'.format(x))
rides.end_station_id=rides.end_station_id.map(lambda x: '{:.0f}'.format(x))

In [9]:
# make col age
rides['user_age'] = rides.end_time.dt.year - rides.member_birth_year
rides.user_age = rides.user_age.fillna(0).astype('int')

In [10]:
# make user type ordinal
#customer = casual / subscriber = member

ordinal_var_dict = {'user_type': ['Customer','Subscriber']}
for var in ordinal_var_dict:
    rides[var] = rides[var].astype('category', ordered = True,categories = ordinal_var_dict[var])

In [11]:
# make user gender and bike_share_for_all_trip nominal
rides['member_gender'] = rides['member_gender'].astype('category')
rides['bike_share_for_all_trip'] = rides['bike_share_for_all_trip'].astype('category')

In [12]:
# delete age > 100
rides = rides[rides.user_age <= 100]

In [13]:
# make station id to categorical
rides.start_station_id=rides.start_station_id.astype('category')
rides.end_station_id=rides.end_station_id.astype('category')

C:\Users\Dima\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [81]:
# add times of the day

def cutDayTime(timestamp):
    hour = timestamp.hour
    if(0 <= hour <= 6):
        return 'night'
    if(6 < hour <= 12):
        return 'morning'
    if(12 < hour <= 18):
        return 'afternoon'
    if(18 < hour <= 22):
        return 'evening'
    if(22 < hour <= 24):
        return 'night'
    return 'not a time'

rides['start_daytime'] = rides.start_time.apply(cutDayTime)
rides['end_daytime'] = rides.end_time.apply(cutDayTime)

C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
# add order to the times of the day
time_order = ['morning', 'afternoon', 'evening', 'night']
vars=['start_daytime','end_daytime']
for var in vars:
    rides[var] = rides[var].astype('category', ordered = True,categories = time_order)

C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
#extract day in week from timestampy
rides['start_weekday'] = rides.start_time.dt.dayofweek
rides['end_weekday'] = rides.end_time.dt.dayofweek

C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [17]:
#extract month in timestampy
rides['start_month'] = rides.start_time.dt.month

C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [142]:
#extract start hour
rides['start_hour'] = rides.start_time.dt.hour

C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [18]:
# add path label (from - to)
rides['path'] = rides.apply(lambda row: '{}-{}'.format(row.start_station_id , row.end_station_id), axis=1)

C:\Users\Dima\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

### Test

In [143]:
rides.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,member_gender,bike_share_for_all_trip,user_age,start_daytime,end_daytime,start_weekday,end_weekday,start_month,path,start_hour
0,75284,2018-01-31 22:52:35.239,2018-02-01 19:47:19.824,120,Mission Dolores Park,37.761420,-122.426435,285,Webster St at O'Farrell St,37.783521,...,Male,No,32,evening,evening,2,3,1,120-285,22
2,71576,2018-01-31 14:23:55.889,2018-02-01 10:16:52.116,304,Jackson St at 5th St,37.348759,-121.894798,296,5th St at Virginia St,37.325998,...,Male,No,22,afternoon,morning,2,3,1,304-296,14
4,39966,2018-01-31 19:52:24.667,2018-02-01 06:58:31.053,74,Laguna St at Hayes St,37.776435,-122.426244,19,Post St at Kearny St,37.788975,...,Male,No,27,evening,night,2,3,1,74-19,19
6,453,2018-01-31 23:53:53.632,2018-02-01 00:01:26.805,110,17th & Folsom Street Park (17th St at Folsom St),37.763708,-122.415204,134,Valencia St at 24th St,37.752428,...,Male,No,30,night,night,2,3,1,110-134,23
7,180,2018-01-31 23:52:09.903,2018-01-31 23:55:10.807,81,Berry St at 4th St,37.775880,-122.393170,93,4th St at Mission Bay Blvd S,37.770407,...,Male,No,38,night,night,2,2,1,81-93,23

In [139]:
user=rides[['user_type','member_birth_year','member_gender','bike_share_for_all_trip','user_age']]
user.head()

,user_type,member_birth_year,member_gender,bike_share_for_all_trip,user_age
0,Subscriber,1986.0,Male,No,32
2,Customer,1996.0,Male,No,22
4,Subscriber,1991.0,Male,No,27
6,Subscriber,1988.0,Male,No,30
7,Subscriber,1980.0,Male,No,38

In [144]:
ride=rides[['bike_id','duration_sec','start_time','end_time','start_station_id','end_station_id','start_daytime','end_daytime','start_weekday','end_weekday','start_month','path', 'start_hour']]
ride.head()

,bike_id,duration_sec,start_time,end_time,start_station_id,end_station_id,start_daytime,end_daytime,start_weekday,end_weekday,start_month,path,start_hour
0,2765,75284,2018-01-31 22:52:35.239,2018-02-01 19:47:19.824,120,285,evening,evening,2,3,1,120-285,22
2,3039,71576,2018-01-31 14:23:55.889,2018-02-01 10:16:52.116,304,296,afternoon,morning,2,3,1,304-296,14
4,617,39966,2018-01-31 19:52:24.667,2018-02-01 06:58:31.053,74,19,evening,night,2,3,1,74-19,19
6,3571,453,2018-01-31 23:53:53.632,2018-02-01 00:01:26.805,110,134,night,night,2,3,1,110-134,23
7,1403,180,2018-01-31 23:52:09.903,2018-01-31 23:55:10.807,81,93,night,night,2,2,1,81-93,23

In [176]:
#helper frames for ride
stations = pd.melt(ride, id_vars=['bike_id','duration_sec', 'path'], value_vars=['start_station_id','end_station_id'], var_name='type', value_name='station_id')
times = pd.melt(ride, id_vars=['bike_id','duration_sec', 'path'], value_vars=['start_time','end_time'], var_name='type', value_name='time')

times.type = times.type.str.split('_').str[0]
stations.type = stations.type.str.split('_').str[0]

In [177]:
ride = times.merge(stations)

In [179]:
ride.head()

   bike_id  duration_sec     path   type  time  station_id
0     2765         75284  120-285  start   NaN         NaN
1     2765         75284  120-285  start   NaN         NaN
2     2765         75284  120-285  start   NaN         NaN
3     2765         75284  120-285  start   NaN         NaN
4     3039         71576  304-296  start   NaN         NaN

In [178]:
station1 = rides[['start_station_id','start_station_latitude','start_station_longitude','start_station_name']]
station2 = rides[['end_station_id','end_station_latitude','end_station_longitude','end_station_name']]
station2 = station2.rename(columns={'end_station_id':'start_station_id','end_station_latitude':'start_station_latitude','end_station_longitude':'start_station_longitude', 'end_station_name':'start_station_name'})
station = station1.append(station2)
station.drop_duplicates(inplace=True)
station=station.rename(columns={'start_station_id':'station_id','start_station_latitude':'station_latitude','start_station_longitude':'station_longitude','start_station_name':'station_name'})
station.reset_index(drop=True, inplace=True)

In [ ]:
station.head()

In [67]:
#Test
assert not station.duplicated().any()
assert len(station) == 351

In [123]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1740396 entries, 0 to 1863719
Data columns (total 23 columns):
duration_sec               int64
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start_station_id           category
start_station_name         object
start_station_latitude     float64
start_station_longitude    float64
end_station_id             category
end_station_name           object
end_station_latitude       float64
end_station_longitude      float64
bike_id                    int64
user_type                  category
member_birth_year          float64
member_gender              category
bike_share_for_all_trip    category
user_age                   int32
start_daytime              category
end_daytime                category
start_weekday              int64
end_weekday                int64
start_month                int64
path                       object
dtypes: category(7), datetime64[ns](2), float64(5), int32(1), int64(5), object(3)
memory usage: 314.1+ MB

### Store Data

In [124]:
rides.to_csv('data/rides.csv', index=False)