# (Dataset Exploration Title)
## by (your name here)

## Preliminary Wrangling

> Briefly introduce your dataset here.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
import os, zipfile

In [ ]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

In [4]:
import os, zipfile

In [4]:
# extract all data from zip files
# from https://stackoverflow.com/questions/31346790/unzip-all-zipped-files-in-a-folder-to-that-same-folder-using-python-2-7-5

for f in os.listdir('.'):
    if f.endswith('.zip'): # check for ".zip" extension
        zip_ref = zipfile.ZipFile(f) # create zipfile object
        zip_ref.extractall('.') # extract file to dir
        zip_ref.close() # close file

In [12]:
%%time
#From https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
lbikesPath = 'data/bike/'
allFiles = os.listdir(lbikesPath)
dfs = []
for f in allFiles:
    print(f)
    if f.endswith('.csv'):
        df = pd.read_csv(lbikesPath + f,index_col=None, header=0)
        dfs.append(df)

201801-fordgobike-tripdata.csv
201801-fordgobike-tripdata.csv.zip
201802-fordgobike-tripdata.csv
201802-fordgobike-tripdata.csv.zip
201803-fordgobike-tripdata.csv
201803-fordgobike-tripdata.csv.zip
201804-fordgobike-tripdata.csv
201804-fordgobike-tripdata.csv.zip
201805-fordgobike-tripdata.csv
201805-fordgobike-tripdata.csv.zip
201806-fordgobike-tripdata.csv
201806-fordgobike-tripdata.csv.zip
201807-fordgobike-tripdata.csv.zip
201808-fordgobike-tripdata.csv
201808-fordgobike-tripdata.csv.zip
201809-fordgobike-tripdata.csv
201809-fordgobike-tripdata.csv.zip
201810-fordgobike-tripdata.csv
201810-fordgobike-tripdata.csv.zip
201811-fordgobike-tripdata.csv
201811-fordgobike-tripdata.csv.zip
Wall time: 11.2 s

In [14]:
frame = pd.concat(dfs, axis = 0, ignore_index = True)

In [16]:
frame.to_csv('data/allData.csv');

In [6]:
%%time
frame = pd.read_csv('data/allData.csv');

Wall time: 12.5 s

In [29]:
%%time
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533136 entries, 0 to 1533135
Data columns (total 16 columns):
duration_sec               1533136 non-null int64
start_time                 1533136 non-null object
end_time                   1533136 non-null object
start_station_id           1524741 non-null float64
start_station_name         1524741 non-null object
start_station_latitude     1533136 non-null float64
start_station_longitude    1533136 non-null float64
end_station_id             1524741 non-null float64
end_station_name           1524741 non-null object
end_station_latitude       1533136 non-null float64
end_station_longitude      1533136 non-null float64
bike_id                    1533136 non-null int64
user_type                  1533136 non-null object
member_birth_year          1439858 non-null float64
member_gender              1440170 non-null object
bike_share_for_all_trip    1533136 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 187.2+ MB
Wall time: 1.44 s

In [8]:
%%time
frame.member_gender

Wall time: 0 ns

0            Male
1             NaN
2            Male
3             NaN
4            Male
5             NaN
6            Male
7            Male
8            Male
9          Female
10            NaN
11           Male
12           Male
13         Female
14           Male
15         Female
16           Male
17         Female
18            NaN
19         Female
20           Male
21           Male
22           Male
23           Male
24           Male
25           Male
26           Male
27           Male
28           Male
29           Male
            ...
1533106      Male
1533107      Male
1533108    Female
1533109    Female
1533110      Male
1533111    Female
1533112      Male
1533113      Male
1533114      Male
1533115      Male
1533116      Male
1533117      Male
1533118      Male
1533119      Male
1533120      Male
1533121      Male
1533122      Male
1533123      Male
1533124      Male
1533125      Male
1533126      Male
1533127      Male
1533128      Male
1533129      Male
1533130      Male
1533131      Male
1533132      Male
1533133      Male
1533134      Male
1533135    Female
Name: member_gender, Length: 1533136, dtype: object

In [17]:
frame.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!